:root {

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --bg: #ffffff;
  --icon-color: #D2B48C;
  --color-grey: #3F3D3D;
  --color-sand: #D2B48C;
  --color-teracot: #A0522D;



  --black: black;
  --color-grey2: #B0B0B0;
  --color-grey3: #898989;
  --color-body: #FFF3E3;
  --color-body1: #FCF8F3;

  --color-white: #FFFFFF;
  --color-s-grey: #666666;
  --color-red: #E97171;
  --color-light: #F4F5F7;
  --color-green: #2EC1AC;
  --color-t-gold: #946826;
  

  /**  Шрифты */
  --font-family-title: "Open Sans";
}