<div class="comp">
    @@include('../components/_navigation.html',{"title": "О компании"})
    @@include('../components/_title.html',{"title": "О компании"})
    <div class="comp-cont">
        <div class="comp-cont-block history">
            <div class="comp-cont-block-text">
                <div class="comp-cont-block-text-ones">История</div>
                <div class="comp-cont-block-text-two">
                    Компания «Реформа» появилась из небольшой мастерской, где мы начинали с деревянных
                    изделий.<br><br>Сегодня мы создаём мебель на заказ любой сложности.
                </div>
            </div>
        </div>

        <div class="comp-cont-block mission">
            <div class="comp-cont-block-text">
                <div class="comp-cont-block-text-ones">Миссия</div>
                <div class="comp-cont-block-text-two">
                    Наша миссия — делать пространство удобным, красивым и уникальным, создавая мебель, которая служит
                    долгие годы и отражает характер владельца. 
                </div>

            </div>
        </div>

        <div class="comp-cont-block team">
            <div class="comp-cont-block-text">
                <div class="comp-cont-block-text-ones">Команда</div>
                <div class="comp-cont-block-text-two">«Реформа» — это команда дизайнеров, технологов, конструкторов и
                    мастеров, объединённых общим подходом: делать мебель так, как сделали бы для себя.</div>
            </div>
        </div>
    </div>
    @@include('../components/_advantages.html')
    @@include('../components/_gallery-slider.html')
</div>