<div class="why-us-container">
    @@include('../components/_title.html',{"title": "Почему нас выбирают?"})
    <div class="why-us-content">

        <div class="why-us-image-block">
            <div class="why-us__image-text">
                <p>Началось с мастерской.<br>Продолжается — вашими идеями</p>
            </div>
        </div>

        <div class="why-us__text-block">
            <p class="why-us__intro">
                Мы создаём мебель, которая живёт вместе с вами.
            </p>
            <p class="why-us__description">
                Из мастерской по дереву мы выросли в команду, создающую интерьерные решения,
                где каждая деталь продумана — под пространство, стиль и человека.
            </p>
            @@include('../components/_advantages.html')

            


        </div>
    </div>

    @@include('../components/_btn-more.html',{"text": "Узнать больше"})

</div>