<div class="cataloge">
    <table>
        <tbody>
            <tr>
                <th scope="col">Столы</th>
            </tr>
            <tr>
                <th scope="row">Кресла</th>
            </tr>
            <tr>
                <th scope="row">Прихожие</th>
            </tr>
            <tr>
                <th scope="row">Стеллажи</th>
            </tr>
            <tr>
                <th scope="row">Тумбы</th>
            </tr>
            <tr>
                <th scope="row">Шкафы</th>
            </tr>
            <tr>
                <th scope="row">Диваны</th>
            </tr>
            <tr>
                <th scope="row">Пуфы</th>
            </tr>
            <tr>
                <th scope="row">Стулья и табуреты</th>
            </tr>
            <tr>
                <th scope="row">Двери-купе</th>
            </tr>
            <tr>
                <th scope="row">Кровати</th>
            </tr>
            <tr>
                <th scope="row" class="row-last">Детские кровати</th>
            </tr>
            </tfoot>
    </table>
</div>