<div class="contant">
    <div class="content-left">
        <button class="catalog-open-btn">Каталог</button>

        <!-- обычный каталог (desktop / tablet) -->
        <div class="cataloge-desktop">
            @@include('../components/_cataloge.html')
        </div>
    </div>
    <div class="contant-right">
        @@include('../components/_navigation.html',{"title": "Каталог"})
        <div class="contant-right-str">
            @@include('../components/_single-product.html',{"img": "/assets/images/product1.webp", "text": "Мебель для гостиной"})
            @@include('../components/_single-product.html',{"img": "/assets/images/product2.webp", "text": "Мебель для детской"})
            @@include('../components/_single-product.html',{"img": "/assets/images/product3.webp", "text": "Мебель для спальни"})
            @@include('../components/_single-product.html',{"img": "/assets/images/product4.webp", "text": "Мебель для прихожей"})
            @@include('../components/_single-product.html',{"img": "/assets/images/product5.webp", "text": "Столы и стулья"})
            @@include('../components/_single-product.html',{"img": "/assets/images/product6.webp", "text": "Диваны и кресла"})
            @@include('../components/_single-product.html',{"img": "/assets/images/product7.webp", "text": "Кровати"})
            @@include('../components/_single-product.html',{"img": "/assets/images/product8.webp", "text": "Шкафы и стеллажи"})
            @@include('../components/_single-product.html',{"img": "/assets/images/product9.webp", "text": "Тумбы и комоды"})
        </div>
    </div>
</div>
<!-- Модальное окно каталога (mobile) -->
<div class="cataloge-modal-overlay"></div>

<div class="cataloge-modal">
    <div class="cataloge-modal-content">

        @@include('../components/_cataloge.html')
    </div>
</div>
