<div class="gallery">
     @@include('../components/_title.html',{"title": "Галерея"})

    <div class="gallery-slider">
        <div class="gallery-track">
            <div class="gallery-item a"></div>
            <div class="gallery-item b"></div>
            <div class="gallery-item c"></div>
            <div class="gallery-item d"></div>
            <div class="gallery-item f"></div>
            <div class="gallery-item g"></div>
        </div>
    </div>

    <div class="gallery-arrows">
        <button class="gallery-btn left">‹</button>
        <button class="gallery-btn right">›</button>
    </div>
</div>