<div class="otzivs">
    <div class="otzivs-text">Отзывы</div>
    <div class="otzivs-str">
        @@include('../components/_otziv.html',
        {"img": "/assets/images/otziv1", "title": "Тумба Алекс 5 BMS", 
        "title1": "Заказ № 00000848581. Искала тумбу чтобы самой организовать туалетный столик навесная консоль и снизу очень удобные...",
        "title2": "14.10.25"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/otziv2", 
        "title": "Стол Чесли 6", 
        "title1": "Остались в восторге от стола. Сделали и привезли его быстро, очень нравится, что можно выбирать любой размери...",
        "title2": "20.10.25"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/otziv3", 
        "title": "Угловой шкаф ", 
        "title1": "Очень довольны покупкой, покупали дочери в комнату. Шкаф большой, просторный, многофункциональный. Сами... ",
        "title2": "24.10.25"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/otziv4", 
        "title": "Комод Нордли", 
        "title1": "Комод классный, за свою цену вообще. Очень вместительный и удобный, направляющие шариковые хорошие, ящики... ",
        "title2": "28.10.25"})
    </div>
    <div class="otzivs-znak">
        <picture><img src="/assets/images/ozv.webp" alt=""></picture>
    </div>
</div>