<div class="podborki">
    @@include('../components/_title.html',{"title": "Подборки для вас"})
    <div class="podborki-str">
        @@include('../components/_single-product.html',{"img": "/assets/images/product1.webp", "text": "Мебель для гостиной"})
        @@include('../components/_single-product.html',{"img": "/assets/images/product2.webp", "text": "Мебель для детской"})
        @@include('../components/_single-product.html',{"img": "/assets/images/product3.webp", "text": "Мебель для спальни"})
    </div>
    <a href="cataloges.html">@@include('../components/_btn-more.html',{"text": "Перейти в каталог"})</a>

</div>